body {
  background: #F9CDAD;
  text-align: center;
  margin:0;
  padding: 0;
  font-family: 'Merriweather', serif;
font-family: 'Urbanist', sans-serif;
  font-weight: 400;
}

nav {
  background: #FC9D9A;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

li {
  margin: 2px;
  padding: 10px;
}

a {
  text-decoration: none;
  font-style: bold;
  font-weight: italic;
  text-transform: uppercase;
  color: #FE4365;
}

a:hover {
  color: #83AF9B;
}

h1, h2 {
  color: #B1624EFF;
}
